<!doctype html>
<html ng-app="myApp">
<head>
<title>Angularjs</title>
	<meta name="name" content="content">
	<meta charset="utf-8">
	
	<link href="./asset/lumx/lumx/dist/lumx.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
	<link href="./asset/css/main.css" rel="stylesheet">
	<link href="./asset/lumx/lumx/dist/scss/settings/_defaults.scss">


</head>
<body>

	<header>
		<nav>
		<div class="bgc-blue-grey-900 tc-white" flex-container="row" flex-align="center center">
		<div flex-item="4">
		<h1 class="fs-display-3 display-block">Mi Pagina</h1>
		</div>
		<div flex-item="1">
				<a href="#/">inicio</a>
		</div>
		<div flex-item="1">
					<a href="#/posts/new">Crear post</a>
		</div>			
			
		</div>	
		</nav>
	
	<!-- td.tdcenter>a[href="/user/edit/{{user.$id}}"].tblLnkAct{hola}>i.fa.fa-pencil^>a.tblLnkAct>i.fa.fa-trash-o	 -->

	</header>
	<section >


<div flex-container="row" flex-align="center">
	
<div ng-view flex-tem="9">
	container

</div>

</div>

<div flex-container="row" flex-align="center">
<div class="bgc-blue-grey-800 mt++ p++ pt0" flex-container="column" ng-controller="ctrlContacto">
<div flex-container="row">
<div flex-item>
    <lx-text-field label="Empresa" disabled="true" theme="dark">
    
    	<input type="text" name="" id="" ng-model="contacto.empresa" ng-disabled="true">		
		</lx-text-field>
    </div>

    	</div>
    	<div class="mt++" flex-container="row">
    		<div flex-item>
     
	 		<form method="get">
				<lx-text-field label="nombre completo" fixed-label="true" icon="account" theme="dark">
	 			<input type="text" name="" id="" ng-model="contacto.nombrecompleto">
	 			
	 			</lx-text-field>
	 			<lx-text-field label="telefono" fixed-label="true" icon="phone"theme="dark" >
	 			<input type="text" name="" id="" ng-model="contacto.telefono">
	 			</lx-text-field>
	 			<lx-text-field label="Correo Eletronico" fixed-label="true" icon="email" theme="dark">	
	 			<input type="email" name="" id="" ng-model="contacto.correo">
	 			</lx-text-field>
	 			<lx-text-field label="Direccion" fixed-label="true" icon="city" theme="dark">	
	 			<input type="text" name="" id="" ng-model="contacto.direccion" theme="dark">
	 			</lx-text-field>
	 			<div class="mt+" flex-container="column" flex-align="space-between center">
	 				<div>
	 				<button class="btn btn--l btn--blue btn--raised" ng-click="notificar()">Enviar</button>
	 				</div>
	 			</div>

	
	 		</form>
	 		</div>
	 	</div>	
	 </div>	
	
	 </div>		
	 	</section> 
	</div> 		
	<section>
		<article><p>Lorem ipsum dolor sit amet adipisicing elit. Itaque praesentium odio optio molestias ab explicabo nemo, neque sapiente harum accusantium consequatur labore alias hic perspiciatis cumque ratione, nam error sunt!</p></article>	
	</section>

	<aside></aside>
	<footer>
		<h4>Mi pie</h4>
	</footer>

	<script src="./asset/lumx/jquery/dist/jquery.min.js" type="text/javascript"></script>
	<script scr="./asset/lumx/velocity/dist/velocity.min.js"></script>
	<script src="./asset/lumx/moment/min/moment-with-locales.js"></script>

	<script src="./asset/lumx/angular/angular.min.js" type="text/javascript"></script>
	
	<script src="./asset/components/angular-route/angular-route.min.js"></script>	
	<script src="./asset/components/angular-resource/angular-resource.js"></script>
	
	

	
	 	 <script src="./asset/lumx/lumx/dist/lumx.js"></script>
	 	
	 	<script src="./asset/js/autocomplete-jquery-ui.js">
	 	</script>

	<script src="./asset/js/app_inicio.js"></script>
	<script src="./asset/js/controllers.js"></script>
		<script src="./asset/js/services.js"></script>
 
</body>
</html>